@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-select__control {
  box-shadow: none !important; /* Remove box shadow */
  border-color: #e2e8f0 !important; /* Default border color */
  outline: none !important; /* Remove outline */
}

.custom-select__control--is-focused {
  box-shadow: none !important; /* Remove shadow on focus */
  border-color: #60a5fa !important; /* Custom focus border color */
  outline: none !important; /* Remove outline on focus */
}

/* Remove input shadow and outline */
.custom-select__input {
  box-shadow: none !important; /* Remove input shadow */
  outline: none !important; /* Remove input outline */
}

/* Restore hover and selected styles for dropdown options */
.custom-select__option {
  background-color: white; /* Default background color */
  color: black; /* Default text color */
  cursor: pointer; /* Cursor pointer on hover */
  transition: background-color 0.2s ease, color 0.2s ease; /* Smooth transition for hover effects */
}

.custom-select__option--is-focused {
  background-color: #e2e8f0 !important; /* Light gray background on hover */
  color: black !important; /* Text color on hover */
}

.custom-select__option--is-selected {
  background-color: #60a5fa !important; /* Selected item background color */
  color: white !important; /* Selected item text color */
}